* {
    font-family: Helvetica, Arial, "微软雅黑", "Microsoft YaHei", "黑体", sans-serif !important;
}

[data-role=emphasize] {
    -webkit-text-emphasis: dot;
    -webkit-text-emphasis-position: under left;
    text-emphasis: dot;
    text-emphasis-position: under left;
}

[data-role=wave] {
    display: inline-block;
    position: relative;
}
[data-role=wave]:before {
    content: '';
    position: absolute;
    top: 90%;
    width: 100%;
    height: 0.25em;
    background: linear-gradient(
    135deg,
    transparent,
    transparent 45%,
    #333333,
    transparent 55%,
    transparent 100%
    ), linear-gradient(
    45deg,
    transparent,
    transparent 45%,
    #333333,
    transparent 55%,
    transparent 100%
    );
    background-size: .5em .5em;
    background-repeat: repeat-x, repeat-x;
}

[data-role=mathType-placeholder] {
    width: 44px;
    height: 26px;
}

.cke_image_nocaption {
    line-height: normal !important;
}

.cke_textarea_inline {
    padding: 1px 0;
}

img {
    vertical-align: middle;
}